.header-color{
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landingpageGrid{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 150%;
  /* border: 5px solid red; */
  
}

.aboutMe{
  padding-top:50px; 
  margin: auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
  /* border: 5px solid red; */
}

.aboutMe span{
  /* border: 5px solid red; */
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
  
}

.avatar-img{
  height: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; 
  padding-top:50px; 
  margin: auto;
  /* border: 5px solid red; */
}




.banner-text{
  background-color:rgb(43, 42, 42);
  opacity: .9;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color:white;
  margin: auto;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  
}


.banner-text hr{
  border-top:5px dashed whitesmoke;
  margin:auto; 
  width: 60%;

}

.banner-text p {
  color:white;
  margin-top: 5px;
  font-size: 15px;
  text-align:center;
  padding-top: 5px;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto
}
.socialLinks i{
  color:white;
  font-size: 5em;
  padding: 8px;
}


@media screen and (max-width: 601px) {
  .landingpageGrid{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 210%;
    /* border: 5px solid red; */
    
  }
  
  .avatar-img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; 
  }
  .banner-text h1 {
    color:white;
    margin: auto;
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    
  }

  .banner-text p {
    color:white;
    margin-top: 5px;
    font-size: 15px;
    text-align:center;
    padding-top: 5px;
  }
  
  .socialLinks {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:auto
  }
  .socialLinks i{
    color:white;
    font-size: 2em;
    padding: 4px;
  }
  
}



.contact-body{
  margin:auto;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 95%;
  background: white;
}

.contact-grid h2{
  font-family: 'Indie Flower', cursive; 
}

.contact-grid p {
  font-family: 'Josefin Sans', sans-serif;
}

.contact-grid i {
  margin-right: 5px;
}

.contact-grid  {
  font-family: 'Josefin Sans', sans-serif;
  margin:5px;
}

.listItem {
  font-size: 25px;
}

.contact-list i{
  font-size: 30px;
  padding-right: 10px;
}

.contact-list a{
  color: blue;
}

  /* PROJECTS */
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 31%;
  padding: 10px 10px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 95%;
    display: block;
    margin-bottom: 20px;
  }
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left
}